<!DOCTYPE html>
<html>
  <head>
    <title>GamesForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>{Home}</nav>
    <nav>{Games</nav>
    <nav>}{Genre}</nav>
    <%= yield %>
  </body>
</html>
